body {
    background-color: lightblue;
}

main {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: absolute;
    padding: 10px;
    background-color: #007bff;
    width: 100%;
    color: white;
}

header * {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.posttitle {
    font-size: larger;
    font-weight: 600;
}

.multibutton * {
    display: inline-block;
    vertical-align: middle;
}

.form {
    width: 50%;
    border: none !important;
    table-layout: fixed;
}

.form td {
    width: 50%;
}

.form label {
    display: block;
    text-align: right;
}

.badge {
    color: white !important;
}

.form input,
.form select {
    width: 100%;
}