{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Nouvelle catégorie</h1>
    <br/>
    {{ include('category/_form.html.twig') }}
    <br/>
    <a class="btn btn-outline-primary" href="{{ path('category_index') }}">Annuler et retourner à la liste</a>
{% endblock %}
