<form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer le post?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger">Supprimer le post</button>
</form>
