{% extends 'base.html.twig' %}

{% block title %}Editer un post{% endblock %}

{% block body %}
    <h1>Editer un post</h1>
    {{ include('post/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <a class="btn btn-outline-primary" href="{{ path('post_index') }}">Annuler et retourner à l'accueil</a>
    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
