{% extends 'base.html.twig' %}

{% block title %}Nouveau post{% endblock %}

{% block body %}
    <h1>Nouveau post</h1>

    {{ include('post/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('post_index') }}">Annuler et retourner à l'accueil</a>
{% endblock %}
